<%= flash[:notice]%>

<div>
	<h3>Import Product Data</h3>
	<%= form_for :import, url: import_products_path ,method: :post  do |f| %>

   <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, class: 'form-control-file', required: true %>
   </div>
   <%= f.button :UploadCSV,  class: 'btn btn-primary' %>
<% end %>
</div>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Metarial Code</th>
			<th>Product Category</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<%@product.each do |prod|%>
			<tr>
				<td><%= prod.name%></td>
				<td><%= prod.material_code%></td>
				<td><%= prod.product_category_code%></td>
				<td><%= prod.status%></td>
			</tr>
		<%end%>
	</tbody>
</table>

